.h_content {
  background: rgba(255, 255, 255, .9);
  max-width: 900px;
  margin: 20px auto 0;
  padding: 30px;
  border-radius: 15px;
}

.h_name-app {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}

.h_loader-app {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .h_content {
    padding: 20px;
    margin: 20px 5px 0;
  }
}
